body {font-family:serif}
a:link {color:#000080;text-decoration:underline}
p.Contents1 {margin-left:0;margin-right:0;margin-top:0;margin-bottom:0;border:none;padding:0;text-indent:0}
p.Standard {margin-left:0;margin-right:0;margin-top:0;margin-bottom:0;border:none;padding:0}
p.Corpotestochat {margin-left:26.456694px;margin-right:0;margin-top:7.5212603px;margin-bottom:7.5212603px;border:none;padding:0;text-indent:0;text-align:justify;font-size:92%}
p.Contents2 {margin-left:18.859844px;margin-right:0;margin-top:0;margin-bottom:0;border:none;padding:0;text-indent:0}
h1 {margin-left:0;margin-right:0;margin-top:15.987401px;margin-bottom:8.012598px;border:none;padding:0;font-weight:bold;font-size:134%;clear:left}
h1.ContentsHeading {margin-left:0;margin-right:0;margin-top:0;margin-bottom:0;border:none;padding:0;text-indent:0;font-weight:bold;font-size:133%;clear:left}
h2 {margin-left:0;margin-right:0;margin-top:15.987401px;margin-bottom:8.012598px;border:none;padding:0;text-align:center;font-style:normal;font-weight:bold;font-size:167%;clear:left}
